*
{
	margin:0;
	padding:0;
}
body
{
	font-family:sans-serif;
	padding:10px;
	background:url(css/img/background.gif);
	text-align:center;
}

hr
{
	margin:5px 0;
	height:5px;
	background:#7aa;
	border:none;
	border-radius:5px;
}
h1.section
{
	text-align:center;
	text-transform:uppercase;
	letter-spacing:3px;
	color:#7aa;
	margin:10px 0 10px 0;
	border-bottom:5px dotted #7aa;
	border
}
div.article
{
	margin:0 auto;
	display:block;
	background:url(css/img/content.gif);
	padding:10px;
	width:800px;
	border-radius:10px;
	margin-bottom:20px;
	box-shadow:0 -3px 5px rgba(0,0,0,0.6),0 3px 5px rgba(255,255,255,0.3);
}
div.article h1
{
	margin-top:3px;
	font-size:1.5em;
}
div.article h2
{
	font-size:1.3em;
}
div.article h3
{
	font-size:1.1em;
}
div.article h4
{
	font-size:1.0em;
}
div.article ul, div.article ol
{
	margin:5px 10px;
	padding-left:20px;
}
div.article p
{
	margin-top:8px;
	margin-bottom:8px;
}
code
{
	color:#fee;
	padding:3px 5px 1px;
	background:#677;
	border-radius:5px;
}
pre code
{
	margin:5px;
	display:block;
}
img
{
	box-shadow:2px 2px 10px rgba(0,0,0,0.2);
}